DB_USER=transcendence
DB_PASSWORD=change_me_locally
DB_NAME=transcendence_db
UID=1000
GID=1000
JWT_SECRET=change_me_locally
VAULT_DEV_ROOT_TOKEN_ID=change_me_locally
ELASTIC_PASSWORD=change_me_locally
KIBANA_PASSWORD=change_me_locally
LOGSTASH_PASSWORD=VOTRE_NOUVEAU_MDP_LOGSTASH
GOOGLE_CLIENT_ID=colle_ici
GOOGLE_CLIENT_SECRET=colle_ici
DISCORD_CLIENT_ID=colle_ici
DISCORD_CLIENT_SECRET=colle_ici