@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-violet-50: color-mix(in srgb, #4d37fb 5%, white);
  --color-violet-100: color-mix(in srgb, #4d37fb 10%, white);
  --color-violet-200: color-mix(in srgb, #4d37fb 25%, white);
  --color-violet-300: color-mix(in srgb, #4d37fb 40%, white);
  --color-violet-400: color-mix(in srgb, #4d37fb 60%, white);
  --color-violet-500: color-mix(in srgb, #4d37fb 80%, white);
  --color-violet-600: color-mix(in srgb, #4d37fb 90%, white);
  --color-violet-700: #4d37fb;
  --color-violet-800: color-mix(in srgb, #4d37fb 85%, black);
  --color-violet-900: color-mix(in srgb, #4d37fb 65%, black);
  --color-violet-950: color-mix(in srgb, #4d37fb 45%, black);

  --color-lime-50: color-mix(in srgb, #c8ff16 8%, white);
  --color-lime-100: color-mix(in srgb, #c8ff16 18%, white);
  --color-lime-200: color-mix(in srgb, #c8ff16 40%, white);
  --color-lime-300: color-mix(in srgb, #c8ff16 70%, white);
  --color-lime-400: #c8ff16;
  --color-lime-500: color-mix(in srgb, #c8ff16 88%, black);
  --color-lime-600: color-mix(in srgb, #c8ff16 72%, black);
  --color-lime-700: color-mix(in srgb, #c8ff16 58%, black);
  --color-lime-800: color-mix(in srgb, #c8ff16 45%, black);
  --color-lime-900: color-mix(in srgb, #c8ff16 32%, black);
  --color-lime-950: color-mix(in srgb, #c8ff16 20%, black);
}
